# build/ directory
# This file is used to ignore files and directories that should not be tracked by Git.
build/

# .vscode/ directory
# This file is used to ignore files and directories that should not be tracked by Git.
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
